.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: #000000;
    z-index: 1000;
    border-radius: 0% 0% 15% 15%;

    .nav-inner {
        max-width: 1200px;
        margin: auto;
        padding-left: 8px;
        padding-right: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .nav-brand {
            display: flex;
            align-items: center;
            gap: clamp(6px, 1vw, 10px);
            flex-shrink: 1;
            min-width: 0;

            img {
                border-radius: 50%;
                height: clamp(45px, 4vw, 36px);
            }

            span{
                font-size: 20px;
                font-weight: 700;
                border-radius: 14px;
                background: rgba(0,0,0,0.45);
                backdrop-filter: blur(6px);
                color: white;
                text-shadow: 0 3px 12px rgba(0,0,0,0.6);
                animation: glowNavidad 2.5s ease-in-out infinite alternate;
                font-family: 'Trebuchet MS', sans-serif;
            }
        }

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            gap: clamp(6px, 1.5vw, 14px);
            flex-shrink: 0;

            a{
                padding: clamp(6px, 1.5vw, 10px)
                clamp(10px, 2vw, 18px);
                font-size: clamp(12px, 3vw, 14px);
                border-radius: 12px;
                color: #e5e7eb;
                text-decoration: none;
                background: rgba(255, 255, 255, 0.06);
                border: 1px solid rgba(255,255,255,.12);
                white-space: nowrap;
                transition: all .25s ease;
            }

            button{
                padding: clamp(6px, 1.5vw, 10px)
                clamp(10px, 2vw, 18px);
                font-size: clamp(12px, 3vw, 14px);
                border-radius: 12px;
                color: #e5e7eb;
                text-decoration: none;
                background-color: rgba(137, 43, 226, 0.5);
                border: 1px solid rgba(255,255,255,.12);
                white-space: nowrap;
                transition: all .25s ease;
            }

            button:hover {
                background: rgba(255,255,255,.12);
                color: white;
            }
        }
    }
}