.holo-box-contacto {
        margin: 20px 20px 20px 20px;
        width: 70%px;
        min-height: 150px;
        padding: 20px;
        border-radius: 18px;
        background: rgba(255,255,255,0.06);
        backdrop-filter: blur(8px);
        border: 2px solid rgba(9, 12, 63, 0.45);
        box-shadow:
        0 0 10px rgba(47, 57, 255, 0),
        0 0 25px rgba(47, 57, 255, 0.082),
        inset 0 0 15px rgba(47, 57, 255, 0.082);
        color: white;
        text-align: left;
        font-size: 15px;

        .holo-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 8px;
            color: #8faaff;
        }

        a {
            color: rgba(192, 240, 60, 0.82);
        }
    }