.holo-box-contenido {
        padding: 20px;
        border-radius: 18px;
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(8px);
        border: 2px solid rgba(47, 57, 255, 0);
        box-shadow:
        0 0 10px rgba(47, 57, 255, 0),
        0 0 25px rgba(47, 57, 255, 0),
        inset 0 0 15px rgba(47, 57, 255, 0);
        color: white;
        text-align: left;
        font-size: 15px;

        .newyear-content {
            position: relative;
            z-index: 5;
            text-align: center;
        }

        .newyear-subtitle {
            font-size: 18px;
            letter-spacing: 4px;
            font-weight: 600;
            color: rgba(182, 218, 25, 0.9);
            text-shadow: 0 0 12px rgba(255,255,255,0.6);
        }

        .newyear-year {
            font-size: 90px;
            background: linear-gradient(
            180deg,
            #fff6cc,
            #ffd700,
            #b8860b
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow:
            0 0 20px rgba(255,215,0,0.6),
            0 0 40px rgba(255,215,0,0.35);
            animation: glowYear 3s ease-in-out infinite;
        }
        
    }