.social-bar {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40PX;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 60px;
    font-size: 28px;

    a {
        color: rgba(255,255,255,0.82);
        text-decoration: none;
        transition: 0.3s ease;
    }

    a:hover {
        color: var(--accent-blue);
        transform: scale(1.2);
    }
}
