:root{
    --accent-blue: #2f3bff;
    --bg-dark: #12121a;
    --holo: rgba(47,59,255,0.65);
    --holo2: rgba(255,0,128,0.6);
}

body {  
    margin: 0;
    background: var(--bg-dark);
    font-family: Arial, sans-serif;
    color: white;
}

.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
}

.snowflake {
    position: absolute;
    top: -10px;
    color: white;
    font-size: 14px;
    opacity: 0.8;
    animation: fall linear infinite;
    text-shadow: 0 0 6px rgba(255,255,255,0.8);
}

@keyframes fall {
    0% {
        transform: translateY(-10px) rotate(0deg);
    }
    100% {
        transform: translateY(110vh) rotate(360deg);
    }
}




.top-slideshow {
    width: 100%;
    height: 40vh;
    min-height: 150px;
    position: relative;
    overflow: hidden;
    background: #000;

    .slide {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transform: scale(1.02);
        transition: opacity 1s ease, transform 9s linear;
    }

    .slide.active {
        opacity: 1;
        transform: scale(1);
    }

    .top-caption {
        width: 70%;
        height: 10%;
        top: 150px;
        text-align: center;
        position: absolute;
        left: 50%;
        bottom: -25px;
        transform: translateX(-50%);
        z-index: 10;
        font-size: 30px;
        font-weight: 700;
        padding: 10px 22px;
        border-radius: 14px;
        background: rgba(0,0,0,0.45);
        backdrop-filter: blur(6px);
        color: white;
        text-shadow: 0 3px 12px rgba(0,0,0,0.6);
        border: 1px solid rgba(255,255,255,0.15);
        animation: glowNavidad 2.5s ease-in-out infinite alternate;
        font-family: 'Trebuchet MS', sans-serif;
    }

}

.top-slideshow::before {  
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, rgba(0,0,0,0), var(--bg-dark));
    z-index: 5;
}

.separadores-container {  
    width: 100%;
    margin-top: 10px;
    flex-wrap: wrap;

    .holo-box-contenido {
        margin: 30px 20px 30px 20px;
        padding: 20px;
        border-radius: 18px;
        background: rgba(255,255,255,0.06);
        backdrop-filter: blur(8px);
        border: 2px solid rgba(47, 57, 255, 0);
        box-shadow:
        0 0 10px rgba(47, 57, 255, 0),
        0 0 25px rgba(47, 57, 255, 0.082),
        inset 0 0 15px rgba(47, 57, 255, 0.082);
        color: white;
        text-align: left;
        font-size: 15px;

        .holo-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 8px;
            color: #8faaff;
        }
    }

    .holo-card {
        margin: 20px 20px 40px 20px;
        height: 250px;
        border-radius: 18px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        position: relative;
        cursor: pointer;
        border: 2px solid rgba(255,0,128,0.55);
        box-shadow:
        0 0 10px rgba(255, 255, 255, 0.6),
        0 0 25px rgba(184, 180, 182, 0.35),
        inset 0 0 15px rgba(252, 252, 252, 0.2);
        animation: float 3.5s ease-in-out infinite;
        transition: 0.25s ease;

        .holo-card-title {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 10px 0;
            background: rgba(0, 0, 0, 0.822);
            backdrop-filter: blur(4px);
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            color: #ffffff;
            text-shadow: 0 0 8px rgba(255,0,180,0.9);
            border-top: 1px solid rgba(255,255,255,0.15);
        }
    }

    .holo-box-contacto {
        margin: 20px 20px 20px 20px;
        width: 70%px;
        min-height: 150px;
        padding: 20px;
        border-radius: 18px;
        background: rgba(255,255,255,0.06);
        backdrop-filter: blur(8px);
        border: 2px solid rgba(9, 12, 63, 0.45);
        box-shadow:
        0 0 10px rgba(47, 57, 255, 0),
        0 0 25px rgba(47, 57, 255, 0.082),
        inset 0 0 15px rgba(47, 57, 255, 0.082);
        color: white;
        text-align: left;
        font-size: 15px;

        .holo-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 8px;
            color: #8faaff;
        }

        a {
            color: rgba(192, 240, 60, 0.82);
        }
    }
}

.social-bar {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40PX;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 60px;
    font-size: 28px;

    a {
        color: rgba(255,255,255,0.82);
        text-decoration: none;
        transition: 0.3s ease;
    }

    a:hover {
        color: var(--accent-blue);
        transform: scale(1.2);
    }
}

@media (max-width: 480px) {
    .holo-card {
        width: 90%;
        height: 170px;
    }

    .holo-card-title {
        font-size: 16px;
    }
}

@keyframes float {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}





@keyframes glowNavidad {
        from {
            text-shadow:
            0 0 5px #fff,
            0 0 10px #ff4d4d,
            0 0 20px #ff0000;
        }

        to {
            text-shadow:
            0 0 10px #fff,
            0 0 20px #00ffcc,
            0 0 30px #00ffaa;
        }
    }



    .navidad-texto {
    font-size: 16px;
    text-align: center;
    animation: bounceGlow 1.8s infinite;
    color: #ffffff;
}

@keyframes bounceGlow {
    0% {
        transform: scale(1);
        text-shadow: 0 0 6px #fff;
    }
    50% {
        transform: scale(1.08);
        text-shadow: 0 0 18px #ffcc00;
    }
    100% {
        transform: scale(1);
        text-shadow: 0 0 6px #fff;
    }
}
