:root{
  --primary:#9494ee;
  --bg:#0b0e1a;
  --card:#161a33;
  --text:#ffffff;
  --muted:#6b7299;
}

*{box-sizing:border-box}

body{
  margin:0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background:var(--bg);
  color:var(--text);
  padding:16px;
}

h2,h3{margin:10px 0}

.card{
    background:var(--card);
    border-radius:14px;
    padding:14px;
    box-shadow:0 10px 25px rgba(247, 1, 1, 0.05);
    margin-bottom:20px;

    .cal-header{
        display:flex;
        align-items:center;
        justify-content:space-between;
        gap: 50px;
        margin-bottom:10px;
    }

    .cal-header button{
        background:var(--primary);
        border:none;
        color:rgb(246, 247, 255);
        padding:6px 10px;
        border-radius:8px;
        cursor:pointer;
    }

    .weekdays{
        display:grid;
        grid-template-columns:repeat(7,1fr);
        margin-bottom:6px;
    }

    .weekdays div{
        text-align:center;
        font-size:13px;
        color:var(--muted);
    }

    .calendar{
        display:grid;
        grid-template-columns:repeat(7,1fr);
        gap:6px;
    }

    .day{
        background:var(--card);
        border-radius:10px;
        padding:8px;
        min-height:70px;
        cursor:pointer;
        position:relative;
        border:1px solid #e5e7eb;
    }

    .day:hover{
        background:#383a41;
    }

    .day strong{
        font-size:13px;
    }
}





/* DIAS */




/* CALENDARIO */








.dots{
  position:absolute;
  bottom:6px;
  left:50%;
  transform:translateX(-50%);
  font-size:14px;
  color:var(--primary);
}

/* LISTAS */
ul{list-style:none;padding:0;margin:0}

li{
  background:var(--card);
  border-radius:10px;
  padding:8px;
  margin:6px 0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border:1px solid #e5e7eb;
}

small{color:var(--muted)}

input,button{
  width:100%;
  padding:8px;
  border-radius:8px;
  border:1px solid #e5e7eb;
}

button{
  background:var(--primary);
  color:white;
  border:none;
  cursor:pointer;
}

button.danger{
  background:#ef4444;
}

/* MODAL */
.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.4);
  display:none;
  align-items:center;
  justify-content:center;
  z-index:100;
}

.modal-content{
  background:var(--card);
  width:90%;
  max-width:420px;
  padding:16px;
  border-radius:16px;
}
